# Core PSNE method
numpy==1.23.5
scipy==1.8.0
scikit-learn==1.7.2
matplotlib==3.8.2
seaborn==0.11.2

# Preprocessing and demo scripts
pandas==1.5.0
openreview-py==1.58.1
nltk==3.7
statsmodels==0.13.2
dill==0.3.4
webcolors==1.11.1
